:ruby
  host = "http://localhost:3001"

  require_relative '../bigchain-rb/bigchain'
  B = Bigchain.new

  require_relative 'lib/ui'
  extend UILib


!!!
%html
  %head
    %meta{ charset: "utf-8" }/
    %title Bigchain UI
    %link{ charset: "utf-8",  href: "./css/vendor/milligram.css",  media: "screen",  rel: "stylesheet" }/
    %link{ charset: "utf-8",  href: "./css/nav.css",  media: "screen",  rel: "stylesheet" }/
    %link{ charset: "utf-8",  href: "./css/style.css",  media: "screen",  rel: "stylesheet" }/
  %body
    .wrapper
      %nav.navigation
        .container
          %a.navigation-title{ href: "/" }
            BigchainUI
          %ul.navigation-list.float-right
            /
              <li class="navigation-item">
              <a class="navigation-link">Docs</a>
              </li>
              <li class="navigation-item">
              <a class="navigation-link">Support</a>
              </li>
      .container
        %h5 Blocks:
        %h6
          %a{ href: "#{host}/blocks/last" } Latest block
        %h6
          %a{ href: "#{host}/blocks" } Blocks

        %h5 Main keys:
        %h6 Public key:
        - key_label B.key_pub
        %h6 Private key:
        %button{ onclick: toggler("pvt") } Reveal &nbsp; 🔑
        %div.hidden.toggle_pvt
          - key_label B.key_pvt

        %h5 User keys:
        %form{ action: "#{host}/keys",  method: "post" }
          %input{ type: "submit", value: "Generate 🔑" }

        %h5 Create admin asset:
        %form{ action: "#{host}/assets/admin",  method: "post" }
          %input{ type: "submit", value: "Create asset" }
